

.App-background-image{
  background-image: url("./Components/CookingBackground3.PNG");
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
  /* background-attachment: fixed; */
}

.App {
  background: linear-gradient(to top left, rgba(193, 248, 122, 0), rgba(250, 238, 73, .7));
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0;
  margin-bottom: -5rem;
}

.login-link{
  text-align: center;
}

h3 {
  text-align: center;
}

.register-link{
  text-align: center;
}